body{
	background: #C0D9D9 url("../images/fondo.gif") repeat;
	font: 8pt Verdana, Geneva,Arial,Helvetica,sans-serif;
	color: #666666;
	margin: 20px 0px 20px 0px;
	text-align: center;
}
#contenedor{
	text-align: left;
	border: 2px solid #cccccc;
	width: 850px;
	background-color:  #faf8f4;
	margin: auto;
	
}
#cabecera{
	height : 106px;
	width: 850px;
	margin: auto;
	background: url("/micabecera.jpg") repeat;
}
#cabecera img{
	height : 106px;
	width: 850px;
}
#navegador{
	background : #F5F4C3 url("../images/fondonav.gif");
	padding : 3px 10px 5px 10px;
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
	margin: auto;
	text-align:right;
}
A.enlacenav, A.enlacenav:VISITED, A.enlacenav:ACTIVE, A.enlacenav:FOCUS, A.enlacenav:LINK{
	color: #494E6B;
}
A.enlacenav:HOVER{
	color: #3F7DE3;
} 
#cuerpo{
	width:580px;
	margin-left: 10px;
	padding: 12px 0px 10px 0px;
	
	background-color : #ffffff;
	float:left;
} 
H1{
	font-size: 12pt;
}
#usuario
{
    border: solid 1px;    
    width:100px;
    float:left;
    margin-right:5px;    
}
#navabajo{
	font-weight : bold;
} 
#lateral{
	width: 240px;
	background-color: #EBF2FE;
	border-bottom : 1px solid #cccccc;
	border-left : 1px solid #cccccc;
	float:right;
}
#izq{
	width: 160px;
	background-color: #EBF2FE;
	border-bottom : 1px solid #cccccc;
	border-right : 1px solid #cccccc;
	float:left;
}
.titlat{
	background-color:#68729E;
	color:#ffffff;
	font-size:8pt;
	text-transform : uppercase;
	padding: 7px 3px 7px 8px;
	font-weight : normal;
	letter-spacing : 2px;
	margin: 0px 0px 8px 0px;
}

.cuerpolateral{
	padding: 5px 4px 13px 10px;
} 
INPUT {
	font-size : 8pt;
} 
#fbuscar form{
	margin-bottom : 0px;
	margin-top : 0px;
} 
#campotexto{
	float: left;
} 
#campotexto input{
	width:100px;
} 
#botonbuscar {
	padding-top : 3px;
	padding-left: 106px;
} 
#botonbuscar input{
	border : 0px none;
} 
.radio{
	clear:both;
} 
#otras ul{
	margin : 5px 10px 0px 0px;
	padding: 0px 0px 0px 4px;
	list-style: none;
} 
#otras li{
	padding-left: 14px;
	background: transparent url("../images/bullet.gif") 0 2px no-repeat;
	margin-bottom: 10px;
} 
#pie{
	clear : both;
	color : #cccccc;
	text-align : right;
	margin : 10px 10px 0px 10px;
	padding-bottom:10px;
}
#borde{
	border: 2px solid #cccccc;
	text-align: left;
	width: 850px;
	margin: auto;
}
#recuadro{
	background-color: #97FFFF;
	
	border-radius:7px;
	border: 1px solid #BBBBBB;
	margin: auto;
	text-align:justify ;
	padding:2px 2px 2px 2px;
}

#imagen{
	color: #000000;
	background-color: #FFFFFF;
	margin: 2px 2px 2px 2px;
	float: right;
	border: solid 1px #ccc;
	overflow:hidden;
}
ul.cosa li
{
    list-style:none;
}
#mas_info
{
    width:120px;
    float:right;

    }
#imagen img{
	width:	80px;
	
	
	
}
#limpiador{
	clear: both;
}
#Cuenta img
{
    height:20px;    
    width:20px;
    
}
#valor
{
    margin-left:10px;
}
#user
{
    float:right;
    width:160;
    border: 1px solid;
    margin-right: 10px;    
}
#Comentarios
{
    border:inherit;
    margin-right:auto;
    width:200px;        
}

#itsthetable {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #036;
}

#itsthetable caption {
	font-size: 48px;
	color: #036;
	font-weight: bolder;
	font-variant: small-caps;
}

#itsthetable th {
	font-size: 12px;
	color: #FFF;
	background-color: #06C;
	padding: 8px 4px;
	border-bottom: 1px solid #015ebc;
}

#itsthetable table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #06C;
	width: 100%
}

#itsthetable th a:link, #itsthetable th a:visited {
	color: #FFF;
	text-decoration: none;
	border-left: 5px solid #FFF;
	padding-left: 3px;
}

#itsthetable th a:hover, #itsthetable th a:active {
	color: #F90;
	text-decoration: line-through;
	border-left: 5px solid #F90;
	padding-left: 3px;
}

#itsthetable tbody th:hover {
	background-image: url(imgs/tbody_hover.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}

#itsthetable td {
	background-color: #f2f2f2;
	padding: 4px;
	font-size: 12px;
}

#itsthetable td:hover {
	background-color: #f8f8f8;

}

#itsthetable td a:link, #itsthetable td a:visited {
	color: #039;
	text-decoration: none;
	border-left: 3px solid #039;
	padding-left: 3px;
}

#itsthetable td a:hover, #itsthetable td a:active {
	color: #06C;
	text-decoration: line-through;
	border-left: 3px solid #06C;
	padding-left: 3px;
}

#itsthetable th {
	text-align: left;
	width: 150px;
}

#itsthetable tr {
	border-bottom: 1px solid #CCC;
}

#itsthetable thead th {
	background-image: url(imgs/thead_back.gif);
	background-repeat: repeat-x;
	background-color: #06C;
	height: 30px;
	font-size: 18px;
	text-align: center;
	text-shadow: #333 2px 2px;
	border: 2px;
}

#itsthetable tfoot th {
	background-image: url(imgs/tfoot_back.gif);
	background-repeat: repeat-x;
	background-color: #036;
	height: 30px;
	font-size: 28px;
	text-align: center;
	text-shadow: #333 2px 2px;
}

#itsthetable tfoot td {
	background-image: url(imgs/tfoot_back.gif);
	background-repeat: repeat-x;
	background-color: #036;
	color: FFF;
	height: 30px;
	font-size: 24px;
	text-align: left;
	text-shadow: #333 2px 2px;
}

tbody td a[href="http://www.csslab.cl/"] {
	font-weight: bolder;
}